<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy" />
    </configSections>
    <appSettings>
        <add key="Rafy.FileLogger.SqlTraceFileName" value="D:\SQLTraceLog.txt"/>
        <add key="ClientSettingsProvider.ServiceUri" value=""/>
    </appSettings>
    <connectionStrings>
        <!--缓存的几个测试，都需要连接数据库。-->
        <!--如果要测试 sqlce 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=Data\Test_DbMigrationHistory.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyPlugins" connectionString="Data Source=Data\Test_RafyPlugins.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest" connectionString="Data Source=Data\Test_RafyUnitTest.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest2" connectionString="Data Source=Data\Test_RafyUnitTest2.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_TestingDataBase" connectionString="Data Source=Data\Test_TestingDataBase.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_StringEntityTest" connectionString="Data Source=Data\Test_StringEntityTest.sdf" providerName="System.Data.SqlServerCe" />-->
        <!--如果要测试 Oracle 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_DbMigrationHistory;Password=1;" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyPlugins" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyPlugins;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyUnitTest;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest2" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyUnitTest2;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_TestingDataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_TestingDataBase;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_StringEntityTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_StringEntityTest;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>-->
        <!--如果要测试 Sql Server 数据库，则使用以下连接。-->
        <add name="Test_DbMigrationHistory" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_DbMigrationHistory;User Id=sa;Password=sa;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyPlugins" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_RafyPlugins;User Id=sa;Password=sa;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_RafyUnitTest;User Id=sa;Password=sa;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_RafyUnitTest_Duplicate;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest2" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_RafyUnitTest2;User Id=sa;Password=sa;" providerName="System.Data.SqlClient"/>
        <add name="Test_TestingDataBase" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_TestingDataBase;User Id=sa;Password=sa;" providerName="System.Data.SqlClient"/>
        <add name="Test_StringEntityTest" connectionString="Data Source=.\SQLExpress;Initial Catalog=Test_StringEntityTest;User Id=sa;Password=sa;" providerName="System.Data.SqlClient"/>
        <!--如果要测试 Sql Azure 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_DbMigrationHistory;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyPlugins" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyPlugins;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest2" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest2;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_TestingDataBase" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_TestingDataBase;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_StringEntityTest" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_StringEntityTest;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
        <!--如果要测试 MySql 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="server=localhost;database=Test_DbMigrationHistory;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyPlugins" connectionString="server=localhost;database=Test_RafyPlugins;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyUnitTest" connectionString="server=localhost;database=Test_RafyUnitTest;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyUnitTest2" connectionString="server=localhost;database=Test_RafyUnitTest2;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_TestingDataBase" connectionString="server=localhost;database=Test_TestingDataBase;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_StringEntityTest" connectionString="server=localhost;database=Test_StringEntityTest;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />-->
    </connectionStrings>
    <!--如果要测试 WCF 服务，请运行 RafyUnitTest.ServerPortal，并打开以下配置：-->
    <!--<rafy dataPortalProxy="Rafy.DataPortal.WCF.ClientProxy, Rafy">-->
    <rafy>
        <plugins>
            <add plugin="Rafy.UnitTest.DataProvider"/>
            <add plugin="Rafy.UnitTest.IDataProvider"/>
            <add plugin="Rafy.UnitTest.Repository"/>

            <add plugin="Rafy.Accounts"/>
        </plugins>
    </rafy>

    <system.serviceModel>
        <client>
            <endpoint name="ClientProxyEndPoint"
                      contract="Rafy.DataPortal.WCF.IWcfPortal"
                      address="net.tcp://localhost:8523/TcpService/IWcfPortal"
                      binding="netTcpBinding"/>
        </client>
        <bindings>
            <netTcpBinding/>
        </bindings>
    </system.serviceModel>
    
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe"/>
            <remove invariant="MySql.Data.MySqlClient"/>
            <add name="SqlServerCe Data Provider" invariant="System.Data.SqlServerCe" description="SqlServerCe Data Provider" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed driver" invariant="oracle.manageddataaccess.client" description="oracle data provider for .net, managed driver" type="oracle.manageddataaccess.client.oracleclientfactory, oracle.manageddataaccess, version=4.121.2.0, culture=neutral, publickeytoken=89b483f429c47342"/>
            <add name="mysqlclient data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySqlServer" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
            </providers>
        </roleManager>
    </system.web>
</configuration>
