################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.gitattributes
*.suo

# Directory
[Tt]est[Rr]esult*/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
.vs/

# NuGet
packages/

# Rafy 
/Rafy/Tools/Domain Documentation/Help
