################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.user
/.gitattributes
/.vs
/Rafy/Rafy.Domain/obj/Debug
/Rafy/Rafy.Domain/bin/Debug
/Rafy/Rafy.ManagedProperty/bin/Debug
/Rafy/Rafy.ManagedProperty/obj/Debug
/Rafy/Rafy.Utils/bin/Debug
/Rafy/Rafy.Utils/obj/Debug
/ConsoleHost/bin/Debug/Domain
/Web/bin
/Demo/JXC/bin/Debug
/Demo/JXC/obj/Debug
/Demo/JXC.Web/bin/Debug
/Demo/JXC.Web/obj/Debug
/Demo/JXC.WPF/bin/Debug
/Demo/JXC.WPF/obj/Debug
/Rafy/Plugins/Compatibility/Rafy.Domain.OldQuery/bin/Debug
/Rafy/Plugins/Compatibility/Rafy.Domain.OldQuery/obj/Debug
/Rafy/Plugins/Compatibility/Rafy.Domain.OldQuery/obj/Debug
/Rafy/Plugins/Rafy.ComponentModel.UnityAdapter/bin/Debug
/Rafy/Plugins/Rafy.ComponentModel.UnityAdapter/obj/Debug
/Rafy/Plugins/Rafy.Customization/bin/Debug
/Rafy/Plugins/Rafy.Customization.Web/bin/Debug
/Rafy/Plugins/Rafy.Customization/obj/Debug
/Rafy/Plugins/Rafy.Customization.WPF/bin/Debug
/Rafy/Plugins/Rafy.Customization.Web/obj/Debug
/Rafy/Plugins/Rafy.DiskCaching/bin/Debug
/Rafy/Plugins/Rafy.Customization.WPF/obj/Debug
/Rafy/Plugins/Rafy.DiskCaching/obj/Debug
/Rafy/Plugins/Rafy.DocBuilder/bin/Debug
/Rafy/Plugins/Rafy.DocBuilder/obj/Debug
/Rafy/Plugins/Rafy.MultiLanguages.WPF/bin/Debug
/Rafy/Plugins/Rafy.MultiLanguages.WPF/obj/Debug
/Rafy/Plugins/Rafy.RBAC/bin/Debug
/Rafy/Plugins/Rafy.RBAC/obj/Debug
/Rafy/Plugins/Rafy.RBAC.Web/bin/Debug
/Rafy/Plugins/Rafy.RBAC.Web/obj/Debug
/Rafy/Plugins/Rafy.RBAC.WPF/bin/Debug
/Rafy/Plugins/Rafy.RBAC.WPF/obj/Debug
/Rafy/Plugins/Rafy.Translator/bin/Debug
/Rafy/Rafy/bin/Debug
/Rafy/Plugins/Rafy.Translator/obj/Debug
/Rafy/Rafy.DbMigration/bin/Debug
/Rafy/Rafy/obj/Debug
/Rafy/Rafy.DbMigration/obj/Debug
/Rafy/Tools/Modeling/DesignerEngine/bin/Debug
/Rafy/Tools/Modeling/DesignerEngine/obj/Debug
/Rafy/Tools/Modeling/ModelingEnv/bin/Debug
/Rafy/Tools/Modeling/ModelingEnv/obj/Debug
/Rafy/Tools/Modeling/Rafy.DomainModeling/bin/Debug
/Rafy/Tools/Modeling/Rafy.DomainModeling/obj/Debug
/Rafy/Tools/Rafy.EntityObjectModel/obj/Debug
/Rafy/Tools/Rafy.EntityObjectModel/bin/Debug
/Rafy/Web/Rafy.Web/bin/Debug
/Rafy/Web/Rafy.Web/obj/Debug
/Rafy/WPF/Rafy.WPF/bin/Debug
/Rafy/WPF/Rafy.WPF/obj/Debug
/Rafy/WPF/Rafy.WPF.Controls/bin/Debug
/Rafy/WPF/Rafy.WPF.Controls/obj/Debug
/Test/Rafy.UnitTest/bin/Debug
/Test/Rafy.UnitTest/obj/Debug
/Test/Rafy.UnitTest.DataProvider/bin/Debug
/Test/Rafy.UnitTest.IDataProvider/bin/Debug
/Test/Rafy.UnitTest.DataProvider/obj/Debug
/Test/Rafy.UnitTest.Repository/bin/Debug
/Test/Rafy.UnitTest.IDataProvider/obj/Debug
/Test/Rafy.UnitTest.Repository/obj/Debug
/Test/Rafy.UnitTest.WPF/bin/Debug
/Test/Rafy.UnitTest.WPF/obj/Debug
/Test/RafyUnitTest/bin/Debug
/Test/RafyUnitTest/obj/Debug
/Test/RafyUnitTest.ClientTest/bin/Debug
/WPFClient/bin/Debug
/Test/RafyUnitTest.ClientTest/obj/Debug
/WPFClient/obj/Debug
/ConsoleHost/obj/Debug
/Demo/Demo/obj/Debug
/Demo/Demo.Customer1/obj/Debug
/Rafy/Tools/VSPackage/bin/Debug
/Rafy/Tools/VSPackage/obj/Debug
/Rafy/Tools/VSTemplates/obj/Debug
/Rafy/Tools/VSTemplates/bin/Debug
/Rafy/UIA/Rafy.UIA/bin/_Debug_UIA_Standard
/Rafy/UIA/Rafy.UIA/obj/_Debug_UIA_Standard
/Test/Rafy.UnitTest.WCFPortal/bin
/Test/Rafy.UnitTest.WCFPortal/obj/Debug
/Web/obj/Debug
/Rafy.v12.suo
/ConsoleHost/bin/Debug
/Demo/Demo/bin/Debug
/Demo/Demo.Customer1/bin/Debug
/Rafy/Tools/Domain Documentation/Help
/Demo/Evaluation/bin/Debug
/Demo/Evaluation/obj/Debug
/Demo/Evaluation.WPF/bin/Debug
/Demo/Evaluation.WPF/obj/Debug
/Demo/MonthPlan/obj/Debug
/Demo/FinanceManagement/obj/Debug
/Demo/P2PEvaluation/bin/Debug
/Demo/P2PEvaluation/obj/Debug
/Demo/FinanceManagement/bin/Debug
/Demo/MonthPlan/bin/Debug
/Demo/FundMng/bin/Debug
/Demo/FundMng/obj/Debug
/Rafy/Plugins/Rafy.BatchSubmit/Rafy.BatchSubmit.SqlServer/bin/Debug
/Rafy/Plugins/Rafy.BatchSubmit/Rafy.BatchSubmit.SqlServer/obj/Debug
/Rafy/Plugins/Rafy.Domain.ORM.BatchSubmit/bin/Debug
/Rafy/Plugins/Rafy.Domain.ORM.BatchSubmit/obj/Debug
/Rafy/Rafy.DbMigration/obj/Release
/Rafy/Rafy.Utils/obj/Release
/Rafy/Plugins/Rafy.Domain.EntityPhantom/bin/Debug
/Rafy/Plugins/Rafy.Domain.EntityPhantom/obj/Debug
/Rafy/Plugins/Rafy.Domain.Stamp/bin/Debug
/Rafy/Plugins/Rafy.Domain.Stamp/obj/Debug
/Rafy/Plugins/Rafy.Accounts/bin/Debug
/Rafy/Plugins/Rafy.Accounts/obj/Debug
/Rafy/Plugins/Rafy.SerialNumber/bin/Debug
/Rafy/Plugins/Rafy.SerialNumber/obj/Debug
*.suo
/TestResults
/Rafy/Plugins/Rafy.FileStorage/obj/Debug
/Rafy/Plugins/Rafy.FileStorage/bin/Debug
/packages/Microsoft.SqlServer.Compact.4.0.8876.1
/Rafy/Plugins/Rafy.LicenseManager/amd64
/Rafy/Plugins/Rafy.LicenseManager/bin/Debug
/Rafy/Plugins/Rafy.LicenseManager/obj/Debug
/Rafy/Plugins/Rafy.LicenseManager/x86
/Rafy.Security/obj/Debug
/Rafy/Plugins/Rafy.LicenseManager/Rafy.LicenseManager.csproj
/Rafy/Plugins/Rafy.Security/obj/Debug
/Rafy.Security/bin/Debug
