<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy" />
        <sectionGroup name="multiTenancyConfigGroup">
            <section name="multiTenancyConfig" type="Rafy.MultiTenancy.Config.MultiTenancySection, Rafy.MultiTenancy, Version=1.0.0.0, Culture=neutral" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    <multiTenancyConfigGroup>
      <multiTenancyConfig>
        <domains>
          <domain name="RafyMultiTenancy" rule="manual-range">
            <dataNodes>
              <!--1、idRightBound表示当前节点Id值的右边界值。比如：DBISaas01的配置，代表id的范围是从上一个节点有边界（这里是0）到2000000的范围，即0 <= id < 2000000-->
              <!--2、sort表示顺序，顺序值大的节点的范围值必须大于顺序值小的节点-->
              <!--3、最后一个节点的idRightBound值为空，代表无穷大-->
              <!--4、最后一个节点的idRightBound值为空，这个节点必须存在-->
              <!--5、已经配置的节点，程序发布后，idRightBound值不能再改动-->
              <!--6、程序发布，如需增加节点，增加完成后，保证最后一个节点的idRightBound值为空-->
              <dataNode dbSettingName="Test_RafyMultiTenancy01" idRightBound="2000000" sort="1"></dataNode>
              <dataNode dbSettingName="Test_RafyMultiTenancy02" idRightBound="4000000" sort="2"></dataNode>
              <dataNode dbSettingName="Test_RafyMultiTenancy03" idRightBound="" sort="3"></dataNode>
            </dataNodes>
          </domain>
        </domains>
      </multiTenancyConfig>
    </multiTenancyConfigGroup>
    <appSettings>
        <!--<add key="Test_GenerateDb" value="true" />-->
        <!--<add key="Test_GenerateDb_Clear" value="true" />-->
        <add key="Rafy.FileLogger.SqlTraceFileName" value="D:\SQLTraceLog.txt" />
        <add key="RafyUnitTest.BatchImportDataSize" value="100" />
    </appSettings>
    <connectionStrings>
        <!--如果要测试 MySql 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="server=localhost;database=Test_DbMigrationHistory;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyPlugins" connectionString="server=localhost;database=Test_RafyPlugins;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyUnitTest" connectionString="server=localhost;database=Test_RafyUnitTest;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyUnitTest_Duplicate" connectionString="server=localhost;database=Test_RafyUnitTest_Duplicate;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_RafyUnitTest2" connectionString="server=localhost;database=Test_RafyUnitTest2;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_TestingDataBase" connectionString="server=localhost;database=Test_TestingDataBase;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />
        <add name="Test_StringEntityTest" connectionString="server=localhost;database=Test_StringEntityTest;user id=root;password=123@qwe;" providerName="MySql.Data.MySqlClient" />-->

        <!--如果要测试 Oracle 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_DbMigrationHistory;Password=1;" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyPlugins" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyPlugins;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyUnitTest;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyUnitTest_Duplicate;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest2" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_RafyUnitTest2;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_TestingDataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_TestingDataBase;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_StringEntityTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL)));User Id=Test_StringEntityTest;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>-->

        <!--如果要测试 Oracle 192.168.4.192 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_DbMigrationHistory;Password=1;" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyPlugins" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_RafyPlugins;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_RafyUnitTest;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_RafyUnitTest_Duplicate;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_RafyUnitTest2" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_RafyUnitTest2;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_TestingDataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_TestingDataBase;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>
        <add name="Test_StringEntityTest" connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.4.192)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=dben)));User Id=Test_StringEntityTest;Password=1" providerName="Oracle.ManagedDataAccess.Client"/>-->

        <!--如果要测试 sqlce 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=Data\Test_DbMigrationHistory.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyPlugins" connectionString="Data Source=Data\Test_RafyPlugins.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest" connectionString="Data Source=Data\Test_RafyUnitTest.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Data Source=Data\Test_RafyUnitTest_Duplicate.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest2" connectionString="Data Source=Data\Test_RafyUnitTest2.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_TestingDataBase" connectionString="Data Source=Data\Test_TestingDataBase.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_StringEntityTest" connectionString="Data Source=Data\Test_StringEntityTest.sdf" providerName="System.Data.SqlServerCe" /-->

        <!--如果要测试 Sql Server 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=.;Initial Catalog=Test_DbMigrationHistory;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyPlugins" connectionString="Data Source=.;Initial Catalog=Test_RafyPlugins;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest" connectionString="Data Source=.;Initial Catalog=Test_RafyUnitTest;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Data Source=.;Initial Catalog=Test_RafyUnitTest_Duplicate;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest2" connectionString="Data Source=.;Initial Catalog=Test_RafyUnitTest2;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_TestingDataBase" connectionString="Data Source=.;Initial Catalog=Test_TestingDataBase;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_StringEntityTest" connectionString="Data Source=.;Initial Catalog=Test_StringEntityTest;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_StringEntityTest" connectionString="Data Source=.;Initial Catalog=Test_StringEntityTest;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyMultiTenancy01" connectionString="Data Source=.;Initial Catalog=Test_RafyMultiTenancy01;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyMultiTenancy02" connectionString="Data Source=.;Initial Catalog=Test_RafyMultiTenancy02;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyMultiTenancy03" connectionString="Data Source=.;Initial Catalog=Test_RafyMultiTenancy03;User Id=sa;Password=sa;" providerName="System.Data.SqlClient" />-->

        <!--如果要测试 Sql Server 192.168.4.62 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_DbMigrationHistory;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyPlugins" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_RafyPlugins;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_RafyUnitTest;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_RafyUnitTest_Duplicate;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />
        <add name="Test_RafyUnitTest2" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_RafyUnitTest2;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />
        <add name="Test_TestingDataBase" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_TestingDataBase;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />
        <add name="Test_StringEntityTest" connectionString="Data Source=192.168.4.62;Initial Catalog=Test_StringEntityTest;User Id=sa;Password=123@qwe;" providerName="System.Data.SqlClient" />-->

        <!--如果要测试 Sql Azure 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_DbMigrationHistory;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyPlugins" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyPlugins;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest_Duplicate" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest_Duplicate;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest2" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest2;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_TestingDataBase" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_TestingDataBase;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_StringEntityTest" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_StringEntityTest;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <rafy>
        <domainPlugins>
            <add plugin="Rafy.UnitTest.RuntimeLoad.RuntimeLoadPlugin, Rafy.UnitTest.RuntimeLoad"/>
            <add plugin="Rafy.DiskCaching"/>
            
            <add plugin="Rafy.UnitTest.DataProvider"/>
            <add plugin="Rafy.UnitTest.IDataProvider"/>
            <add plugin="Rafy.UnitTest.Repository"/>
            
            <add plugin="Rafy.Accounts"/>
            <add plugin="Rafy.SystemSettings"/>
            <add plugin="Rafy.SerialNumber"/>
            <add plugin="Rafy.FileStorage"/>
        </domainPlugins>
    </rafy>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe" />
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="SqlServerCe Data Provider" invariant="System.Data.SqlServerCe" description="SqlServerCe Data Provider" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe" />
            <remove invariant="Oracle.ManagedDataAccess.Client" />
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
            <add name="MySqlClient Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySqlServer" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <publisherPolicy apply="no" />
                <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
                <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.121.2.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
