<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--<add key="单元测试-生成数据库" value="true"/>-->
        <add key="SQL_TRACE_FILE" value="D:\SQLTraceLog.txt"/>
    </appSettings>
    <connectionStrings>
        <!--如果要测试 sqlce 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=Data\Test_DbMigrationHistory.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyPlugins" connectionString="Data Source=Data\Test_RafyPlugins.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest" connectionString="Data Source=Data\Test_RafyUnitTest.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_RafyUnitTest2" connectionString="Data Source=Data\Test_RafyUnitTest2.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_TestingDataBase" connectionString="Data Source=Data\Test_TestingDataBase.sdf" providerName="System.Data.SqlServerCe" />
        <add name="Test_StringEntityTest" connectionString="Data Source=Data\Test_StringEntityTest.sdf" providerName="System.Data.SqlServerCe" />-->

        <!--如果要测试 Oracle 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Data Source=somawms;User Id=Test_DbMigrationHistory;Password=1" providerName="System.Data.OracleClient"/>
        <add name="Test_RafyPlugins" connectionString="Data Source=somawms;User Id=Test_RafyPlugins;Password=1" providerName="System.Data.OracleClient"/>
        <add name="Test_RafyUnitTest" connectionString="Data Source=somawms;User Id=Test_RafyUnitTest;Password=1" providerName="System.Data.OracleClient"/>
        <add name="Test_RafyUnitTest2" connectionString="Data Source=somawms;User Id=Test_RafyUnitTest2;Password=1" providerName="System.Data.OracleClient"/>
        <add name="Test_TestingDataBase" connectionString="Data Source=somawms;User Id=Test_TestingDataBase;Password=1" providerName="System.Data.OracleClient"/>
        <add name="Test_StringEntityTest" connectionString="Data Source=somawms;User Id=Test_StringEntityTest;Password=1" providerName="System.Data.OracleClient"/>-->

        <!--如果要测试 Sql Azure 数据库，则使用以下连接。-->
        <!--<add name="Test_DbMigrationHistory" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_DbMigrationHistory;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyPlugins" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyPlugins;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_RafyUnitTest2" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_RafyUnitTest2;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_TestingDataBase" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_TestingDataBase;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
        <add name="Test_StringEntityTest" connectionString="Server=tcp:zxc4xie2fs.database.chinacloudapi.cn,1433;Database=Test_StringEntityTest;User ID=huqf@zxc4xie2fs;Password=pass@word1;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe"/>
            <add name="SqlServerCe Data Provider" invariant="System.Data.SqlServerCe" description="SqlServerCe Data Provider" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
