@{
    ViewBag.Title = "Index";
}

<div style="margin:20px 0;">
    <div>huqf test</div>
    <input type="button" onclick="getActionItems()" value="getActionItems" />
    <input type="button" onclick="postActionItems2()" value="postActionItems" />
    <input type="button" onclick="putActionItems2()" value="putActionItems" />
    <input type="button" onclick="deleteActionItems2()" value="deleteActionItems" />
    <input type="button" onclick="deleteAll()" value="deleteAll" />
    <div>
        <input type="text" id="queryString" style="width:800px; max-width:1000px"
               value="$pageNumber=1&$pageSize=2&$orderby=Id desc&$filter=Comment eq 'huqf'" />
        <input type="button" onclick="queryActionItemsWithOData()" value="queryActionItemsWithOData" />
        <input type="button" onclick="popupGetActionItemsWithOData()" value="popupGetActionItemsWithOData" />
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        function getActionItems(callback) {
            $.ajax({
                type: "GET",
                url: "/api/ActionItem",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    if (callback) {
                        callback(res)
                    }
                    else {
                        alert('实体个数：' + res.length + ',' + JSON.stringify(res))
                    }
                },
                complete: function () {

                }
            });
        }
        function postActionItems() {
            $.ajax({
                type: "POST",
                url: "/api/ActionItem",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Comment: 'huqf',
                    Status: 'huqf'
                }),
                success: function (res) {
                    alert('success');
                    getActionItems();
                }
            });
        }
        function putActionItems() {
            getActionItems(function (items) {
                if (items.length > 0) {
                    var id = items[items.length - 1].id;
                    $.ajax({
                        type: "PUT",
                        url: "/api/ActionItem",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            id: id,
                            Comment: 'huqf2'
                        }),
                        success: function (res) {
                            alert('success');
                            getActionItems();
                        }
                    });
                }
            });
        }
        function deleteActionItems() {
            getActionItems(function (items) {
                if (items.length > 0) {
                    var id = items[0].id;
                    $.ajax({
                        type: "DELETE",
                        url: "/api/ActionItem/?id=" + id,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            alert('success');
                            getActionItems();
                        }
                    });
                }
            });
        }
        function queryActionItemsWithOData() {
            var qs = $('#queryString').val();
            $.ajax({
                type: "GET",
                url: "/api/ActionItem?" + qs,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (res) {
                    alert('实体个数：' + res.length + ',' + JSON.stringify(res))
                }
            });
        }
        function popupGetActionItemsWithOData() {
            var qs = $('#queryString').val();
            window.open("/api/ActionItem?" + qs);
        }

        function postActionItems2() {
            $.ajax({
                type: "POST",
                url: "/api/ActionItem/Add",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({
                    Comment: 'huqf',
                    Status: 'huqf'
                }),
                success: function (res) {
                    alert('success');
                    getActionItems();
                }
            });
        }
        function putActionItems2() {
            getActionItems(function (items) {
                if (items.length > 0) {
                    var id = items[items.length - 1].id;
                    $.ajax({
                        type: "POST",
                        url: "/api/ActionItem/Update",
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify({
                            id: id,
                            Comment: 'huqf2'
                        }),
                        success: function (res) {
                            alert('success');
                            getActionItems();
                        }
                    });
                }
            });
        }
        function deleteActionItems2() {
            getActionItems(function (items) {
                if (items.length > 0) {
                    var id = items[0].id;
                    $.ajax({
                        type: "GET",
                        url: "/api/ActionItem/Delete?id=" + id,
                        dataType: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (res) {
                            alert('success');
                            getActionItems();
                        }
                    });
                }
            });
        }
        function deleteAll() {
            getActionItems(function (items) {
                if (items.length > 0) {
                    for (var i = 0; i < items.length; i++) {
                        var id = items[i].id;
                        $.ajax({
                            type: "GET",
                            url: "/api/ActionItem/Delete?id=" + id,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8"
                        });
                    }
                }
            });
        }
    </script>
}