<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="multiTenancyConfigGroup">
      <section name="multiTenancyConfig" type="Rafy.MultiTenancy.Config.MultiTenancySection, Rafy.MultiTenancy, Version=1.0.0.0, Culture=neutral" allowLocation="true" allowDefinition="Everywhere"/>
    </sectionGroup>  
  </configSections>
  <multiTenancyConfigGroup>
    <multiTenancyConfig>
      <domains>
        <domain name="DBISaaS" rule="manual-range">
          <dataNodes>
            <!--1、idRightBound表示当前节点Id值的右边界值。比如：DBISaas01的配置，代表id的范围是从上一个节点有边界（这里是0）到2000000的范围，即0 <= id < 2000000-->
            <!--2、sort表示顺序，顺序值大的节点的范围值必须大于顺序值小的节点-->
            <!--3、最后一个节点的idRightBound值为空，代表无穷大-->
            <!--4、最后一个节点的idRightBound值为空，这个节点必须存在-->
            <!--5、已经配置的节点，程序发布后，idRightBound值不能再改动-->
            <!--6、程序发布，如需增加节点，增加完成后，保证最后一个节点的idRightBound值为空-->
            <dataNode dbSettingName="DBISaas01" idRightBound="2000000" sort="1"></dataNode>
            <dataNode dbSettingName="DBISaas02" idRightBound="4000000" sort="2"></dataNode>
            <dataNode dbSettingName="DBISaas03" idRightBound="8000000" sort="3"></dataNode>
            <dataNode dbSettingName="DBISaas04" idRightBound="10000000" sort="4"></dataNode>
            <dataNode dbSettingName="DBISaas05" idRightBound="" sort="5"></dataNode>
          </dataNodes>
        </domain>
      </domains>
    </multiTenancyConfig>
  </multiTenancyConfigGroup>
</configuration>