<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy" />
        <sectionGroup name="multiTenancyConfigGroup">
            <section name="multiTenancyConfig" type="Rafy.MultiTenancy.Config.MultiTenancySection, Rafy.MultiTenancy, Version=1.0.0.0, Culture=neutral" allowLocation="true" allowDefinition="Everywhere"/>
        </sectionGroup>
    </configSections>
    <appSettings>
        <!--<add key="Test_GenerateDb" value="true" />-->
        <!--<add key="Test_GenerateDb_Clear" value="true" />-->
        <add key="Rafy.FileLogger.SqlTraceFileName" value="D:\SQLTraceLog.txt" />
        <add key="RafyUnitTest.BatchImportDataSize" value="100" />
    </appSettings>
    <connectionStrings>
    </connectionStrings>
    <rafy>
        <plugins>
            <add plugin="Rafy.UnitTest.DataProvider"/>
            <add plugin="Rafy.UnitTest.IDataProvider"/>
            <add plugin="Rafy.UnitTest.Repository"/>

            <add plugin="Rafy.Accounts"/>
        </plugins>
    </rafy>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <!--<system.serviceModel>
        <services>
            <service name="Rafy.Domain.DataPortal.WCF.ServerPortal" behaviorConfiguration="includesException">
                <endpoint address="/Binary" binding="customBinding" bindingConfiguration="compactBindingConfig" behaviorConfiguration="enableRemotingBinarySerialization" contract="Rafy.Domain.DataPortal.WCF.IWcfPortal"/>
                <endpoint address="/Text" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="Rafy.Domain.DataPortal.WCF.IWcfPortal"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="RafyServer.svc"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <customBinding>
                <binding name="compactBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00">
                    <compactMessageEncoding>
                        <binaryMessageEncoding>
                            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                        </binaryMessageEncoding>
                    </compactMessageEncoding>
                    <httpTransport maxReceivedMessageSize="2147483647"/>
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="basicHttpBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00" maxReceivedMessageSize="1000000000">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="includesException">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                </behavior>
            </serviceBehaviors>
            <endpointBehaviors>
                <behavior name="enableRemotingBinarySerialization">
                    <remotingBinarySerialization/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <extensions>
            <bindingElementExtensions>
                <add name="compactMessageEncoding" type="Rafy.WCF.CompactMessageEncodingElement, Rafy"/>
            </bindingElementExtensions>
            <behaviorExtensions>
                <add name="remotingBinarySerialization" type="Rafy.WCF.EnableBinaryFormatterBehaviorElement, Rafy"/>
            </behaviorExtensions>
        </extensions>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true"/>
        <diagnostics>
            <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true" logEntireMessage="true" maxMessagesToLog="1000"/>
        </diagnostics>
    </system.serviceModel>-->

    <multiTenancyConfigGroup>
        <multiTenancyConfig>
            <domains>
                <domain name="RafyMultiTenancy" rule="manual-range">
                    <dataNodes>
                        <!--1、idRightBound表示当前节点Id值的右边界值。比如：DBISaas01的配置，代表id的范围是从上一个节点有边界（这里是0）到2000000的范围，即0 <= id < 2000000-->
                        <!--2、sort表示顺序，顺序值大的节点的范围值必须大于顺序值小的节点-->
                        <!--3、最后一个节点的idRightBound值为空，代表无穷大-->
                        <!--4、最后一个节点的idRightBound值为空，这个节点必须存在-->
                        <!--5、已经配置的节点，程序发布后，idRightBound值不能再改动-->
                        <!--6、程序发布，如需增加节点，增加完成后，保证最后一个节点的idRightBound值为空-->
                        <dataNode dbSettingName="Test_RafyMultiTenancy01" idRightBound="2000000" sort="1"></dataNode>
                        <dataNode dbSettingName="Test_RafyMultiTenancy02" idRightBound="4000000" sort="2"></dataNode>
                        <dataNode dbSettingName="Test_RafyMultiTenancy03" idRightBound="" sort="3"></dataNode>
                    </dataNodes>
                </domain>
            </domains>
        </multiTenancyConfig>
    </multiTenancyConfigGroup>
</configuration>