<?xml version="1.0"?>
<configuration>
    <appSettings>
        <!--如果是监听应用程序所有的 SQL 语句，请打开以下配置-->
        <!--<add key="SQL_TRACE_FILE" value="D:\SQLTraceLog.txt"/>-->
    </appSettings>
    <connectionStrings>
        <add name="$domainName$" connectionString="Data Source=Data\$domainName$.sdf" providerName="System.Data.SqlServerCe" />
    </connectionStrings>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe"/>
            <add name="SqlServerCe Data Provider" invariant="System.Data.SqlServerCe" description="SqlServerCe Data Provider"
                 type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>