<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy"/>
    </configSections>
    <appSettings>
        <add key="Rafy_DevTools_GenerateDbOnStartup" value="true"/>
        <add key="IsDebuggingEnabled" value="true"/>
        <add key="SQL_TRACE_FILE" value="D:\SQLTraceLog.txt"/>
        <add key="Developing_ReportRootPath" value="../../../Demo/JXC.WPF/Reports/"/>
        <!--<add key="Rafy_LanguageManaging" value="true"/>-->
    </appSettings>
    <connectionStrings>
        <add name="DbMigrationHistory" connectionString="Data Source=.\SQLExpress;Initial Catalog=Rafy_DbMigrationHistory;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient"/>
        <add name="RafyPlugins" connectionString="Data Source=.\SQLExpress;Initial Catalog=Rafy_RafyPlugins;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient"/>
        <add name="JXC" connectionString="Data Source=.\SQLExpress;Initial Catalog=Rafy_JXC;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient"/>
        <!--<add name="Demo" connectionString="Data Source=.\SQLExpress;Initial Catalog=Rafy_Demo;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient"/>-->
        <!--<add name="FinanceManagement" connectionString="Data Source=.\SQLExpress;Initial Catalog=Rafy_FinanceManagement;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient"/>-->
        <!--<add name="MonthPlan" connectionString="Data Source=.\SQLExpress;Initial Catalog=Rafy_MonthPlan;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient"/>-->
    </connectionStrings>
    <rafy currentCulture="zh-CN" collectDevLanguages="IsDebugging">
        <!--
        currentCulture="en-US"
        skin="Gray"
        dataPortalProxy="Rafy.DataPortal.WCF.ClientProxy, Rafy.Domain"
        -->
        <wpf showErrorDetail="Yes"/>
    </rafy>
    <system.serviceModel>
        <client>
            <endpoint name="ClientProxyEndPoint" address="http://localhost.:8000/RafyServer.svc/Binary" binding="customBinding" bindingConfiguration="compactBindingConfig" behaviorConfiguration="enableRemotingBinarySerialization" contract="Rafy.Domain.DataPortal.WCF.IWcfPortal"/>
            <!--<endpoint name="ClientProxyEndPoint" address="http://localhost.:8000/RafyServer.svc/Text"
                      binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
                      contract="Rafy.Domain.DataPortal.WCF.IWcfPortal" />-->
        </client>
        <bindings>
            <customBinding>
                <binding name="compactBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00">
                    <compactMessageEncoding>
                        <binaryMessageEncoding>
                            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                        </binaryMessageEncoding>
                    </compactMessageEncoding>
                    <httpTransport maxReceivedMessageSize="2147483647"/>
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="basicHttpBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00" maxReceivedMessageSize="1000000000">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="enableRemotingBinarySerialization">
                    <remotingBinarySerialization/>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <extensions>
            <bindingElementExtensions>
                <add name="compactMessageEncoding" type="Rafy.WCF.CompactMessageEncodingElement, Rafy"/>
            </bindingElementExtensions>
            <behaviorExtensions>
                <add name="remotingBinarySerialization" type="Rafy.WCF.EnableBinaryFormatterBehaviorElement, Rafy"/>
            </behaviorExtensions>
        </extensions>
    </system.serviceModel>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe"/>
            <add name="SqlServerCe Data Provider" invariant="System.Data.SqlServerCe" description="SqlServerCe Data Provider" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>

            <!--Oracle 连接时，可以尝试使用 ODAC。-->
            <!--<remove invariant="Oracle.DataAccess.Client"/>
            <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET"
                 type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.111.7.20, Culture=neutral, PublicKeyToken=89b483f429c47342" />-->
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Domain;UI"/>
        </assemblyBinding>
    </runtime>
</configuration>
