<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
    <configSections>
        <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy"/>
        <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <appSettings>
        <add key="ForDeveloper_RafyRootDir" value="D:\_Code\Rafy"/>
        <!--<add key="Web.AutoUpdateDb" value="true"/>-->
        <add key="Rafy.FileLogger.SqlTraceFileName" value="D:\SQLTraceLog.txt"/>
    </appSettings>
    <connectionStrings>
        <add name="DbMigrationHistory" connectionString="Data Source=.\SQLExpress;Initial Catalog=Web_DbMigrationHistory;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="RafyPlugins" connectionString="Data Source=.\SQLExpress;Initial Catalog=Web_RafyPlugins;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="MonthPlan" connectionString="Data Source=.\SQLExpress;Initial Catalog=Web_MonthPlan;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="JXC" connectionString="Data Source=.\SQLExpress;Initial Catalog=Web_JXC;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="Demo" connectionString="Data Source=.\SQLExpress;Initial Catalog=Web_Demo;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
        <add name="FinanceManagement" connectionString="Data Source=.\SQLExpress;Initial Catalog=Web_FinanceManagement;User ID=sa;Password=sa" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <rafy>
        <plugins>
            <!--<add plugin="Rafy.Customization"/>
            <add plugin="Rafy.DiskCaching"/>
            <add plugin="Rafy.MultiLanguages"/>-->
            <add plugin="Rafy.RBAC.Old" loadType="AtStartup"/>
            <add plugin="JXC" loadType="AtStartup"/>

            <!--<add plugin="Rafy.Customization.Web"/>
            <add plugin="Rafy.MultiLanguages.Web"/>
            <add plugin="Rafy.DevTools.Web"/>-->
            <add plugin="Rafy.RBAC.Old.Web" loadType="AtStartup"/>
            <add plugin="JXC.Web" loadType="AtStartup"/>
            <!--<add plugin="Demo"/>-->
        </plugins>
        <!--
        -->
    </rafy>
    <system.web>
        <httpHandlers>
            <add path="Rafy_ServiceInvoker.ashx" verb="*" type="Rafy.Web.ServiceInvokerHandler, Rafy.Web"/>
            <add path="Rafy_EntityDataPortal.ashx" verb="*" type="Rafy.Web.EntityDataPortalHandler, Rafy.Web"/>
            <add path="Rafy_MetaModelPortal.ashx" verb="*" type="Rafy.Web.MetaModelPortalHandler, Rafy.Web"/>
            <add path="Rafy.js" verb="*" type="Rafy.Web.RafyScriptHandler, Rafy.Web"/>
            <add path="RafyEntity.js" verb="*" type="Rafy.Web.RafyEntityScriptHandler, Rafy.Web"/>
            <add path="RafyCommands.js" verb="*" type="Rafy.Web.RafyCommandsScriptHandler, Rafy.Web"/>
            <add path="RafyPluginsCode.js" verb="*" type="Rafy.Web.RafyPluginsScriptHandler, Rafy.Web"/>
        </httpHandlers>
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880"/>
        </authentication>

        <compilation debug="true" targetFramework="4.6.1" />
        <httpRuntime targetFramework="4.6.1" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="Rafy_ServiceInvoker" path="Rafy_ServiceInvoker.ashx" verb="*" type="Rafy.Web.ServiceInvokerHandler, Rafy.Web"/>
            <add name="Rafy_EntityDataPortal" path="Rafy_EntityDataPortal.ashx" verb="*" type="Rafy.Web.EntityDataPortalHandler, Rafy.Web"/>
            <add name="Rafy_MetaModelPortal" path="Rafy_MetaModelPortal.ashx" verb="*" type="Rafy.Web.MetaModelPortalHandler, Rafy.Web"/>
            <add name="Rafy" path="Rafy.js" verb="*" type="Rafy.Web.RafyScriptHandler, Rafy.Web"/>
            <add name="RafyEntity" path="RafyEntity.js" verb="*" type="Rafy.Web.RafyEntityScriptHandler, Rafy.Web"/>
            <add name="RafyCommands" path="RafyCommands.js" verb="*" type="Rafy.Web.RafyCommandsScriptHandler, Rafy.Web"/>
            <add name="RafyPluginsCode" path="RafyPluginsCode.js" verb="*" type="Rafy.Web.RafyPluginsScriptHandler, Rafy.Web"/>
        </handlers>
    </system.webServer>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin/Plugins"/>
            <dependentAssembly>
                <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
                <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
    <system.data>
        <DbProviderFactories>
            <remove invariant="Oracle.ManagedDataAccess.Client"/>
            <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <oracle.manageddataaccess.client>
        <version number="*">
            <dataSources>
                <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) "/>
            </dataSources>
        </version>
    </oracle.manageddataaccess.client>
</configuration>