<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <appSettings>
        <add key="ForDeveloper_OEARootDir" value="D:\_Code\OEA"/>
        <add key="OEA_Migrate_Databases" value="OEAPlugins,Demo,FinanceManagement"/>
    </appSettings>
    <connectionStrings>
        <add name="DbMigrationHistory" connectionString="Data Source=.\SQLExpress;Initial Catalog=DbMigrationHistory;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient" />
        <add name="OEAPlugins" connectionString="Data Source=.\SQLExpress;Initial Catalog=OEAPlugins;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient" />
        <add name="Demo" connectionString="Data Source=.\SQLExpress;Initial Catalog=Demo;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient" />
        <add name="FinanceManagement" connectionString="Data Source=.\SQLExpress;Initial Catalog=FinanceManagement;User ID=sa;Password=GIX4" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.serviceModel>
        <services>
            <service name="OEA.Server.Hosts.WcfPortal" behaviorConfiguration="includesException">
                <endpoint address="" binding="customBinding" bindingConfiguration="compactBindingConfig" contract="OEA.Server.Hosts.IWcfPortal" />
                <endpoint address="/Blank" binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig" contract="OEA.Server.Hosts.IWcfPortal" />
                <host>
                    <baseAddresses>
                        <add baseAddress="OEAServer.svc" />
                    </baseAddresses>
                </host>
            </service>
        </services>
        <bindings>
            <customBinding>
                <binding name="compactBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00">
                    <compactMessageEncoding>
                        <binaryMessageEncoding>
                            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                        </binaryMessageEncoding>
                    </compactMessageEncoding>
                    <httpTransport maxReceivedMessageSize="2147483647" />
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="basicHttpBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00" maxReceivedMessageSize="1000000000">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <serviceBehaviors>
                <behavior name="includesException">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <extensions>
            <bindingElementExtensions>
                <add name="compactMessageEncoding" type="Amib.WCF.CompactMessageEncodingElement, OEA, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            </bindingElementExtensions>
        </extensions>
        <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
        <diagnostics>
            <messageLogging logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true" logEntireMessage="true" maxMessagesToLog="1000" />
        </diagnostics>
    </system.serviceModel>

    <system.web>
        <httpHandlers>
            <add path="OEA_ServiceInvoker.ashx" verb="*" type="OEA.Web.ServiceInvokerHandler, OEA.Web" />
            <add path="OEA_EntityDataPortal.ashx" verb="*" type="OEA.Web.EntityDataPortalHandler, OEA.Web" />
            <add path="OEA_MetaModelPortal.ashx" verb="*" type="OEA.Web.MetaModelPortalHandler, OEA.Web" />
            <add path="OEA.js" verb="*" type="OEA.Web.OEAScriptHandler, OEA.Web" />
            <add path="OEAEntity.js" verb="*" type="OEA.Web.OEAEntityScriptHandler, OEA.Web" />
            <add path="OEACommands.js" verb="*" type="OEA.Web.OEACommandsScriptHandler, OEA.Web" />
            <add path="OEAPluginsCode.js" verb="*" type="OEA.Web.OEAPluginsScriptHandler, OEA.Web" />
        </httpHandlers>
        <httpModules>
            <add name="OEAStartup" type="OEA.Web.WebAppStartupModule, OEA.Web" />
        </httpModules>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>
        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="bin/Library"/>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>

</configuration>
