<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
    <appSettings>
        <add key="ForDeveloper_GIX5RootDIR" value="D:\_Code\OEA"/>
        <add key="DatabaseAutoMigrationEnabled" value="true"/>
    </appSettings>
    <connectionStrings>
        <!--<add name="DbMigrationHistory" connectionString="Data Source=.\SQLExpress;Initial Catalog=DbMigrationHistory;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient" />-->
        <add name="OEA" connectionString="Data Source=.\SQLExpress;Initial Catalog=OEANew;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient" />
        <!--<add name="Demo" connectionString="Data Source=.\SQLExpress;Initial Catalog=Demo;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient" />-->
    </connectionStrings>

    <system.web>

        <httpHandlers>
            <add path="OEA_ServiceInvoker.ashx" verb="*" type="OEA.Web.ServiceInvokerHandler, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <add path="OEA_EntityDataPortal.ashx" verb="*" type="OEA.Web.EntityDataPortalHandler, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <add path="OEA_MetaModelPortal.ashx" verb="*" type="OEA.Web.MetaModelPortalHandler, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <add path="OEA.js" verb="*" type="OEA.Web.OEAScriptHandler, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <add path="OEAEntity.js" verb="*" type="OEA.Web.OEAEntityScriptHandler, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
            <add path="OEACommands.js" verb="*" type="OEA.Web.OEACommandsScriptHandler, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </httpHandlers>
        <httpModules>
            <add name="OEAStartup" type="OEA.Web.WebAppStartupModule, OEA.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        </httpModules>

        <compilation debug="true" targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>
        <authentication mode="Forms">
            <forms loginUrl="~/Account/LogOn" timeout="2880" />
        </authentication>

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Library;Module"/>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
