<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="rafy" type="Rafy.Configuration.RafyConfigurationSection, Rafy"/>
    </configSections>
    <appSettings>
        <add key="IsDebuggingEnabled" value="true"/>
        <add key="SQL_TRACE_FILE" value="D:\SQLTraceLog.txt"/>
    </appSettings>
    <connectionStrings>
        <!--当使用 SqlServer 2008 时，修改连接字符串配置如下：-->
        <!--<add name="DbMigrationHistory" connectionString="Data Source=.\SQLExpress;Initial Catalog=Console_DbMigrationHistory;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient"/>-->
        <!--<add name="RafyPlugins" connectionString="Data Source=.\SQLExpress;Initial Catalog=Console_RafyPlugins;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient"/>-->
        <!--<add name="Demo" connectionString="Data Source=.\SQLExpress;Initial Catalog=Demo;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient"/>-->
        <!--<add name="FinanceManagement" connectionString="Data Source=.\SQLExpress;Initial Catalog=FinanceManagement;User ID=GIX4;Password=GIX4" providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <rafy currentCulture="zh-CN" collectDevLanguages="IsDebugging">
        <domainPlugins>
            <!--<add plugin="FundMng"/>-->
        </domainPlugins>
    </rafy>
    <system.serviceModel>
        <client>
            <endpoint name="ClientProxyEndPoint" address="http://localhost.:8000/RafyServer.svc/Binary" binding="customBinding" bindingConfiguration="compactBindingConfig" behaviorConfiguration="enableRemotingBinarySerialization" contract="Rafy.Domain.DataPortal.WCF.IWcfPortal"/>
            <!--<endpoint name="ClientProxyEndPoint" address="http://localhost.:8000/RafyServer.svc/Text"
                      binding="basicHttpBinding" bindingConfiguration="basicHttpBindingConfig"
                      contract="Rafy.Domain.DataPortal.WCF.IWcfPortal" />-->
        </client>
        <bindings>
            <customBinding>
                <binding name="compactBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00">
                    <compactMessageEncoding>
                        <binaryMessageEncoding>
                            <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                        </binaryMessageEncoding>
                    </compactMessageEncoding>
                    <httpTransport maxReceivedMessageSize="2147483647"/>
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="basicHttpBindingConfig" receiveTimeout="00:20:00" sendTimeout="02:00:00" maxReceivedMessageSize="1000000000">
                    <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                </binding>
            </basicHttpBinding>
        </bindings>
        <extensions>
            <bindingElementExtensions>
                <add name="compactMessageEncoding" type="Amib.WCF.CompactMessageEncodingElement, Rafy, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </bindingElementExtensions>
        </extensions>
    </system.serviceModel>
    <system.data>
        <DbProviderFactories>
            <remove invariant="System.Data.SqlServerCe"/>
            <add name="SqlServerCe Data Provider" invariant="System.Data.SqlServerCe" description="SqlServerCe Data Provider" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe"/>
            <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess, Version=2.111.7.20, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
        </DbProviderFactories>
    </system.data>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <probing privatePath="Domain;UI"/>
        </assemblyBinding>
    </runtime>
</configuration>
